.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2vmin;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #1a1a1a;
  }

  a:hover {
    background-color: #1a1a1a;
    color: whitesmoke;
  }

  a.active {
    background-color: rebeccapurple;
    color: whitesmoke;
  }

  span {
    color: rgb(108, 9, 87);
  }
}
.nav {
  background: #f7f7f5;
  border-bottom: 1px solid #ddd;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left .link {
  margin-right: 1rem;
  color: #111;
  text-decoration: none;
  font-weight: 500;
}

.right .basket-btn {
  font-size: 1.2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
